body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #007bff; /* Blue background */
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: linear-gradient(
        325deg,
        #000080 0%, /* Dark blue */
        #0000ff 30%, /* Blue */
        #00ffff 70%, /* Light blue */
        #ffffff 100% /* White */
    );

    padding: 40px 60px;
}

h2 {
    font-size: 3em;
    color: #e7e5eb;
    text-shadow: 5px 3px 6px #007bff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset {
    border-radius: 3px;
    padding: 15px 20px;
    width: 100%;
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus {
    color: #00ffff; /* Light blue */
    background: #000080; /* Dark blue */
}

.game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    border-radius: 10px;
    cursor: grab;
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 3.5em;
    transform: rotateY(180deg);
    transition: 0.25s;
}
.item:active{
    cursor: grabbing;
}

.item::after {
    border-radius: 10px;
    content: "";
    position: absolute;
    inset: 0;
    background-color: #000080; 
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
    transform: rotateY(180deg);
}

@media screen and (max-width: 312px){
    .game{        
        width: 312px;
        height: 312px;
        gap: 2px;
    }
    .item{
        width: 76px;
        height: 76px;
        font-size: 40px;
    }
    h2{
        font-size: 1.5rem;
        letter-spacing: 0;
    }
}

@media screen and (max-width: 320px){
    .game{        
        width: 320px;
        height: 320px;
        gap: 4px;
        
    }
    .item{
        width: 77px;
        height: 77px;
        font-size: 40px;
    }
    h2{
        font-size: 1.5rem;
        letter-spacing: 0;
    }
}

@media screen and (max-width: 360px) {
    .container{
        width: 100%;   
        margin-top: 2px;   
    }

    .game{        
        width: 345px;
        height: 345px;
        gap: 3px;

    }

    .item{
        width: 83px;
        height: 83px;
        font-size: 40px;
    }

    h2{
        font-size: 2rem;
        letter-spacing: 0;
    }
}

@media screen and (max-width: 400px){
    .game{        
        width: 320px;
        height: 320px;
        gap: 4px;
        
    }
    .item{
        width: 77px;
        height: 77px;
        font-size: 40px;
    }
    h2{
        font-size: 1.5rem;
        letter-spacing: 0;
    }
}